
body {
  background: blueviolet;

}

 h1 {
  color: wheat;
}

h2 {
  color: #fff;
  background-color: wheat;
  display: block;
  width: 35%;
}

h3 {
  background-color: #fff;
  color: blue;
}

P {
  color: black;
  width: 50%;
}

