img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 960px;
  /* margin auto cria valores automáticos para os lados e vai estar sempre alinhado ao centro da tela.  */
  /* margin: 0 auto; Pra cima e pra baixo 100, pro lado e pro outro automática */
  margin: 100px auto; /*Pra cima e pra baixo 100, pro lado e pro outro automática*/
}

.cover img {
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

/*Alinhar .texto ao centro de .cover*/
.texto {
  align-self: center;
}

p {
  max-width: 60ch;
}
