/*Esse css vai ter tudo o que for global: resetar alguns estilos, modificar algumas coisas no body e algumas classes que for reutilizar*/

body {
  font-family: "Fira Sans", Arial, sans-serif;
  /*Definir no body, pois todos os elementos abaixo vão herdar a font-family dqui*/
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

/*ul possui por padrão margin e padding*/
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*img é outro elemento que sempre é padrão*/
img {
  max-width: 100%;
  display: block;
  /*para a imagem não crescer infinitamente*/
}
