.header {
  max-width: 1200px; /*Definir um width máximo para o site. Isso depende do tamanho do conteúdo*/
  padding: 40px 20px; /*40px cima e baixo, 20px pros lados. OBS: Se eu utilizasse o margin e não o padding, ia ficar aparecendo margens em branco*/
  margin: 0 auto; /*Sempre alinhar o elemento ao centro. Um item de bloco que tem o tamanho máximo, alinhamos com margin-left e margin-right automatica de auto*/
  display: flex; /*um item ao lado do outro*/
  justify-content: space-between; /*espaçar ao máximo*/
  align-items: center; /*Alinha elementos ao centro*/
}

/*Colocando intens li do header-menu um ao lado do outro*/
.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /*Se diminiuir mais do que o tamanho dele, começa a quebrar*/
  justify-content: center; /*para justificar o conteúdo ao centro na tela menor para sempre que for quebrando ficar um abaixo do outro*/
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px; /*sempre colocar padding em link porque a área de click é pequena. 10px cima e baixo, 20px pros lados*/
  text-decoration: none;
  color: #141414;
  display: block; /*definir como display block para pegar corretamente os valores de padding*/
}

/*Para definir o max-width, inspecionar para saber quando o site começa a quebrar*/
@media (max-width: 800px) {
  /*mudar o header, pois é ele que está definindo o display flex um ao lado do outro, a img e o nav*/
  .header {
    flex-direction: column; /*mudar a direção do flex como coluna para ficar a img e o nav um abaixo do outro*/
    gap: 40px;
    padding: 20px; /*para ajustar o espaço em branco numa tela menor*/
  }

  /*Melhorar a parte do link deixando parecido com botão*/
  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}
