.introducao {
  max-width: 1200px; /*padrão pra não deixar expandir mais do que o tamanho do conteúdo que eu quero */
  padding: 40px 20px; /*pra separar o topo e a parte debaixo desse elemento*/
  margin: 0 auto; /*para alinhar*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center; /*alinhar o conteúdo ao centro*/
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  /*line-height com valor puro mutiplica o valor do font-size. (4.5*16px*1.125 = 81px) */
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg) no-repeat;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
