img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/*Não usar object-fit para imagem que só faça sentido inteira*/
.cover img {
  height: 100%; /*Para pegar a altura do texto, mas distorce*/
  object-fit: cover; /*corta a imagem para que caiba sempre dentro do conteúdo. Altura do elemento vai ficar na altura do texto. */
  object-position: top left; /*Digo onde quero que a imagem comece a cortar */
}

p {
  font-size: 1.5rem;
}
