body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  margin: 0px;
}

.logo {
  place-self: center;
  margin-top: 60px;
}

.cabecalho {
  grid-column: 1 / -1;
  text-align: center;
}

.links {
  background: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px 30px;
}

.principal {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-column: 1 / -1;
  place-content: center;
  /* height: 1000px; */
  margin: 0px;
}

.coluna-1 {
  grid-column: 1;
  background: #ffffff;
}

.estilo-1 {
  text-align: right;
  padding-right: 30px;
  padding-top: 30px;
  position: relative;
}

.detalhe {
  position: absolute;
  top: 30px;
  background: #ee2211;
  padding: 2px 30px 2px 30px;
}

h2 {
  margin-top: 0px;
}

p {
  font-size: 20px;
}

.botao {
  background: #ee2211;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.foto {
  max-width: 100%;
}

.vantagens {
  grid-column: 1;
  color: #c6c6c6;
  font-size: 64px;
  text-align: end;
  padding-top: 150px;
  padding-right: 40px;
}

.coluna-2 {
  grid-column: 2;
  background: #ffffff;
}

.estilo-2 {
  text-align: left;
  margin-top: 50px;
  margin-left: 60px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding-right: 80px;
  margin: 0px;
}

h3 {
  padding-left: 10px;
  margin: 0px;
}

p {
  padding-left: 30px;
}

.rodape {
  grid-column: 1 / -1;
  background: #ffffff;
  text-align: center;
  padding: 25px;
}
