.flex {
  display: flex;
  flex-wrap: wrap; /*quebra de linha quando diminui a tela*/
  gap: 20px;
  /* place-content: center; -> atalho de justify-content: center; e align-content: center; juntos*/
  /* height: 100vh; altura de 100% da tela   */
  justify-content: center;
}

body {
  margin: 0px; /*Tira o espaço que sobra e fica escrolando*/
}

h2 {
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
  /* flex: 1; -> Atalho para: (flex-grow: 1; -> quero que o elemento cresça), (flex-shrink: 1; -> é o valor padrão e pode diminuir caso tenha que quebrar), (flex-basis:0%; -> informa que o espaço distribuido pelo flex-grow deve ser igual entre os elementos). 
 
 obs: Com isso o justify-content:center; do flex não pega, porque ele distribui o espaço em branco, então não tem espaço em branco sobrando pra tentar justificar o conteúdo*/
}

.grid {
  margin-top: 60px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  /*repeat() -> cria mais colunas sempre que der pra criar*/
  /* repeat(4, 1fr) -> cria 4 colunas de 1fr cada uma*/
  /* repeat(auto-fit, 1fr) -> tente encaixar quantos itens for possível*/
  /*1f -> distribua o espaço em branco total*/
  /*minmax(150px, auto) -> é uma função que recebe dois valores, o valor minimo e o máximo*/
}
