body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  /* margin-top: 60px; */
}

header {
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.listas-1 {
  display: flex;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.menu a:hover {
  border-color: #900;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem; /* Quando colocamos h1 dentro de section e article, ele muda o estilo do h1 diminuindo o tamanho da tipografia, pois tenta normalizar o nível do h1 ao nível do h2 */
}

/* .detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
} */

/* article {
  position: relative;
} */

.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

/* h1::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #900;
  position: absolute;
  top: 30px;
  right: -30px;
} */

.botao {
  background: #e21;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: #900;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url(./img/onda.svg);
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
  list-style: none;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.vantagens-item:hover {
  border-color: #e21;
}

.vantagens-item:nth-child(odd) {
  background: #f7f7f7;
}

.vantagens-item p {
  grid-column: 2;
}

/* .lista-2 {
  list-style-type: none;
} */

/* .listas-2 {
  position: relative;
} */

/* .lista-2:hover::before {
  content: "";
  width: 4px;
  height: 120px;
  background: #900;
  position: absolute;
} */

/* .lista-2:nth-child(odd) {
  background: #f7f7f7;
} */

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
